.ordercard-new {
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    grid-template-rows: 1fr 0.5fr;
    margin: 20px 0;
    border-bottom: 1px solid #333333;
}

.ordercard-active {
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    grid-template-rows: 1fr 0.5fr;
    margin: 20px 0;
    border-bottom: 1px solid #333333;
}

.descriptionSection {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.cropText {
    height: 35px;
    overflow: hidden;
    margin: 10px 0;
}
.trashIcon {
    display: none;
}