.button {
  font-family: sans-serif;
  font-weight: 700;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.button:active {
  border: 5px red solid;
}

.button-small {
  font-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 5px 0px 5px 0px;
  -moz-border-radius: 5px 0px 5px 0px;
  -webkit-border-radius: 5px 0px 5px 0px;
}

.button-medium {
  height: 41px;
  width: 41px;
  border-radius: 5px;
}

.button-large {
  font-size: 18px;
  height: 90px;
  width: 100%;
}
