.navbaritem-default {
  background-color: #222222;
  padding: 25px 0 25px;
  width: 100%;
  border: 0px;
}

.navbaritem-red {
  background-color: #E54A2D;
  padding: 25px 0 25px;
  width: 100%;
  border: 0px;
}

.navbaritem-clicked {
  background-color: white;
  padding: 25px 0 25px;
  width: 100%;
  border: 0px;
}